html{
  box-sizing: border-box;
}
.main{
  min-height: 100vh;
  position: relative;
}

.bg-container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../src/assets/img/background.jpg");
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay::before{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(31,39,73,0.6)!important;
}

#myheader{
  transition: 0.2s all ease-in;
}

.icon-white{
  color: white;
  font-size: 26px;
}

.title{
  top: 45vh;
  left: 8.8%;
}

.pd-header-mobile{
  padding-left: 0;
  padding-right: 0;
}
/* Mobile */
@media (max-width: 575px){
  .title{
      left: 3%;
  }

  .pd-header-mobile{
      padding-left: 15px;
      padding-right: 15px;
  }
}

/* IPad */
@media (min-width: 576px) and (max-width: 768px){
  .title{
      left: 3.6%;
  }
}

.mt-header{
  margin-top: 70px;
}

.title-question{
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  
}

.my-border-radius{
  border-radius: 0.25rem;
}

@keyframes fadeIn{
  from{
      transform: translateY(-50%);
      opacity: 0;
  }
  to{
      transform: translateY(0%);
      opacity: 1;
  }
}

.dropdown-menu{
  animation: fadeIn ease 0.2s;
}

.my-padding-like-navbar{
  margin: 0.5rem 1rem;
}

.navbar-brand{
  padding: 0;
  width: 16% !important;
}

.navbar-toggler.navbar-toggler-btn--border{
  border-color: transparent !important;
  padding: 0 !important;
  outline: none;
}

.navbar-nav .nav-item{
  margin-right: 8%;
}

.mycursor{
  cursor: pointer;
}

.my_display_none{
  display: none !important;
}

.img-audio-listen-write{
  max-width: 100%;
  height: 350px;
}

.bg-btn-audio{
  background-color: rgb(199, 193, 193) !important;
  border: 0;
}

.icon-color{
  color: black !important;
}

.custom_link{
  text-decoration: none !important;
  width: 100% !important;
  padding-right: 30%;
}

/* Load */
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
